h1 Users#show
= render 'devise/shared/stats'
= render 'users/follow_form'
p user_id : #{@user.id}
p user_name: #{@user.username}
p user_email: #{@user.email}
= link_to "プロフィールを編集する",edit_user_registration_path